@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CSS Banner */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* Header */

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* Logo */

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Hambuger menu */

.banner header .toggle {
    display: inline-block;
    position: relative;
}

.banner header .toggle .bar1,
.banner header .toggle .bar2,
.banner header .toggle .bar3 {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s ease-in-out;
}

/* Start Animation Hambuger Menu to X */

.banner header .change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.banner header .change .bar2 {
    opacity: 0;
}

.banner header .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* End Animation Hambuger Menu to X */

/* Start Background and content */

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;

}

.banner .content h2 {
    color: #fff;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

/* End Background and content */


/* About */
.about {
    position: 100%;
    width: 100%;
    display: flex;
}

.about .contentBx {
    background-color: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url(images/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    
}

/* Services */

.services {
    background-color: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;

}

.services .container .serviceBx {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.services .container .serviceBx img {
    max-width: 100px;
}

.services .container .serviceBx h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Start CSS Technology */

.technology {
    background-color: #3f8ffc;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 300px 100px 100px;
    margin-top: -300px;

}

.technology .contentBx {
    max-width: 600px;
}

.technology .imgBx {
    max-width: 250px;
}

.technology .imgBx img {
    max-width: 100%;
}

/* Start CSS Our Client */

.client {
    background-color: #162c3b;
    text-align: center;
    padding: 100px;
}
.client .text{
    max-width: 800px;
    margin: 0 auto;
}

.client .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imgBx img:nth-child(2) {
    margin-top: 45px;
}

.client .imgBx img:hover {
    opacity: 1;
}

/* Start CSS What Our Client Says */

.testimonials {
    position: relative;
    padding: 100px;
    background-color: #12222d;
    text-align: center;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;

}

.testimonials .container .contentBx {
    background-color: #fff;
    padding: 60px 50px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    border-radius: 5px;

}

.testimonials .container .contentBx .text {
    font-style: italic;
    color: #12222d;
}

.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    margin-top: 40px;
    font-weight: 500;
    color: #3f8ffc;
}

/* CSS Contact */

.contact {
    padding: 100px;
    background-color: #162c3b;
    text-align: center;
}

.imgBx-contact {
    background: url(images/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.red-background {
    background: url(images/red.jpg);
    background-size: cover;
    background-position: center;
}

.form .inputBx {
    margin-bottom: 40px;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
    color: #fff;
}

.form .inputBx textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
    color: #fff;
}

.form .inputBx input[type="submit"] {
    width: 100%;
    background-color: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* CSS Footer */
.footer {
    background-color: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img {
    filter: invert(1);
    max-width: 20px;
}

/* Responsive */
@media (max-width: 991px) {

    .banner {
        padding: 50px;
    }

    .banner header {
        padding: 20px 50px;
    }

    .banner .content {
        margin-top: 50px 0 0 0;
    }

    .banner .content h2 {
        font-size: 36px;
    }

    .banner .content p {
        font-size: 16px;
        padding: 20px 0;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBx {
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology {
        padding: 50px;
        padding-top: 300px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }

    .client {
        padding: 50px;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonials {
        padding: 50px;
        justify-content: center;
    }

    .testimonials .container {
        max-width: 100%;
        justify-content: center;
    }

    .testimonials .container .contentBx {
        width: 100%;
        margin-bottom: 40px;
    }

    .testimonials .container .contentBx:last-child {
        margin-bottom: 0;
    }

    .contact {
        padding: 50px;
    }


}
